@model Pardis.Product.BLL.ViewModel.SalesFolder
@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "ثبت درخواست" : "ویرایش درخواست";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadersCustom
{
}

<div class="container-fluid">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg col-12">
            <div class="row title-custom ">
                <h2>
                    @ViewBag.Title
                </h2>
            </div>
            <div class="card card-body">

                @using (Html.BeginForm(MVC.SalesManagement.SalesFolder.AddOrUpdate(), FormMethod.Post, new { @class = "login100-form validate-form", @Id = "SalesFolderForm" }))
                {

                    @Html.HiddenFor(model => model.Id, new { @Value = Model.Id })
                    @Html.HiddenFor(model => model.DeliveryDeadlineFa, new { @Value = Model.DeliveryDeadline })
                    @Html.HiddenFor(model => model.PriceAnnouncementDeadlineFa, new { @Value = Model.PriceAnnouncementDeadline })
                    @Html.HiddenFor(model => model.Files, new { @Value = Model.Files })
                    @Html.HiddenFor(model => model.ProcessStepId, new { @Value = 2 })

                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Subject)
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control input-style pg-input-width" } })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RequestTypeId)
                                    @Html.ValidationMessageFor(model => model.RequestTypeId, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.RequestTypeId, new List<SelectListItem>() { }, "-",
                                        new Dictionary<string, Object>
                                        {
                                            { "id", "RequestTypeId" },
                                            { "name", "RequestTypeId" },
                                            { "class","form-control select2" },
                                            {"data-search","true"}
                                        })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProfileId)
                                    @Html.ValidationMessageFor(model => model.ProfileId, "*", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.ProfileId, new List<SelectListItem>() { }, "-",
                                        new Dictionary<string, Object>
                                        {
                                            { "id", "ProfileId" },
                                            { "name", "ProfileId" },
                                            { "class","form-control input-style select-box-style width-select-style select2" },
                                            {"data-search","true"}
                                        })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NeedId)
                                    @Html.ValidationMessageFor(model => model.NeedId, "*", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.NeedId, new List<SelectListItem>() { }, "-",
                                        new Dictionary<string, Object>
                                        {
                                            { "id", "NeedId" },
                                            { "name", "NeedId" },
                                            { "class","form-control input-style select-box-style width-select-style select2" },
                                            {"data-search","true"}
                                        })

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PriceAnnouncementDeadline)
                                    @Html.ValidationMessageFor(model => model.PriceAnnouncementDeadline, "*", new { @class = "text-danger" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.PriceAnnouncementDeadline,
                                        new
                                             {
                                            @class = "locale-fa form-control"
                                        })
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DeliveryDeadline)
                                    @Html.ValidationMessageFor(model => model.DeliveryDeadline, "*", new { @class = "text-danger" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.DeliveryDeadline,
                                        new
                                             {
                                            @class = "locale-fa form-control"
                                        })
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.WarrantyTerms)
                                    @Html.ValidationMessageFor(model => model.WarrantyTerms, "", new { @class = "text-danger" })
                                    <div class="mb-3">
                                        @Html.TextAreaFor(model => model.WarrantyTerms, new
                                        {
                                            @id = "editor1",
                                            @name = "editor1",
                                            @style = "width: 100%"
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    <div class="mb-3">
                                        @Html.TextAreaFor(model => model.Description, new
                                        {
                                            @id = "editor2",
                                            @name = "editor2",
                                            @style = "width: 100%"
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputFile">بارگذاری فایل LOM</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="uploadFile">Upload</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success float-left">
                                    ثبت درخواست
                                </button>
                                <a href="@Url.Action(MVC.SalesManagement.SalesFolder.Index())" type="button" class="btn btn-primary float-left ml-2" style="margin-right: 5px;">
                                    بازگشت
                                </a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </section>
    </div>
    <!-- /.row (main row) -->
</div><!-- /.container-fluid -->

@section Scripts
{

    <script>
        $(function () {
            FillItemsByTypeNameEn("RequestType", "#RequestTypeId", '@Model.RequestTypeId');
            FillDropDownList("@Url.Action(MVC.Public.Profile.FillProfileCustommers())", "#ProfileId", '@Model.ProfileId');

            $("#ProfileId").change(function () {

                var url = "@Url.Action(MVC.SalesManagement.Need.GetAllNeedsByProfileId(123456))";
                var id = $("#ProfileId").val();

                if (parseInt(id) < 1)
                    return;

                FillDropDownList(url.replace("123456", id), "#NeedId", '@Model.NeedId');

                $("#select2-NeedId-container").text("-");
            });

            if ('@Model.ProfileId' != '0' && '@Model.ProfileId' != '') {
                var url = "@Url.Action(MVC.SalesManagement.Need.GetAllNeedsByProfileId(123456))";
                FillDropDownList(url.replace("123456", '@Model.ProfileId'), "#NeedId", '@Model.NeedId');
            }

        });

        $('#SalesFolderForm').submit(function (event) {

            $("#DeliveryDeadlineFa").val($("#DeliveryDeadline").val()+"");
            $("#PriceAnnouncementDeadlineFa").val($("#PriceAnnouncementDeadline").val() + "");

            this.submit();
        });
    </script>

}